<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bike PAGE</title>
  <style>
    body {
        background-color: #e2e6d7;
        overflow: hidden;
    }
    .item {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .item p {
        margin-top: auto;
    }
  </style>
</head>
<body>
    <div class="item" id="container">
        <img src="/static/bike/{{bike[0]}}.jpg">
        <p>
        Bike Name: <b><i>{{bike[2]}}</i></b> <br>
        Top speed: <b>{{bike[3]}}</b> <br>
        Cost: <b>${{bike[4]}}</b> <br>
        {{bike[5]}}
        </p>
        <h6>debug_maker_id: {{bike[1]}}</h6>
    </div>

</body>
</html>
