<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{bike[2]}} - Bike detail page</title>
  <link href="/static/index.css" rel="stylesheet">
  <style>
    body {
        margin: auto 25vw;
        height: 100%;
    }
  </style>
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/login">Log in</a></li>
        </ul>
    </nav>
    <div class="box column-flex bottom-align-p-tag" id="container">
        <img src="/static/bike/{{bike[0]}}.jpg">
        <p>
        Bike Name: <b><i>{{bike[2]}}</i></b> <br>
        Top speed: <b>{{bike[3]}}</b> <br>
        Cost: <b>${{bike[4]}}</b> <br>
        {{bike[5]}}
        </p>
        <h6>debug_maker_id: {{bike[1]}}</h6>
    </div>

</body>
</html>
