<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home Page</title>
  <link href="/static/index.css" rel="stylesheet">
  <style>
    #container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 15px;
        align-items: stretch;
    }
  </style>
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/login">Log in</a></li>
        </ul>
    </nav>
    <div id="container">
        {% for bike in bikes %}
        <div class="box column-flex bottom-align-p-tag">
            <a class="column-flex" href="/bike/{{bike[0]}}">
                <img src="/static/bike/{{bike[0]}}.jpg">
            </a>
            <p>Bike Name: {{bike[2]}}</p>
        </div>
        {% endfor %}
    </div>

</body>
</html>
