<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Log in</title>
  <style>
    body {
        background-color: #e2e6d7;
        overflow: hidden;
    }
    .item {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .item p {
        margin-top: auto;
    }
  </style>
</head>
<body>
  <div>
    <form name="login" action="/login" method="post">
        <label for="passwd"></label>
        <input id="passwd" name="k" type="password" required>
      <button id="submit">login</button>
    </form>
  </div>

</body>
</html>
